{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
    <h2>Login Page</h2>
    <p><a href="{% url 'users_register' %}">Register Here</a></p>
    
    <div>
        <form name="login" action="#" method="POST">
            {% csrf_token %}
            
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            
            {{ loginForm.as_p }}
            
            <input type="submit" value="Login" />
        </form>
    </div>
{% endblock %}

