{% extends 'base.html' %}

{% block title %}Register Page{% endblock %}

{% block content %}
    <h2>Register Page</h2>
    
    <div>
        <form name="register" action="#" method="POST">
            {% csrf_token %}
            
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            
            {{ regForm.as_p }}
            
            <input type="submit" value="Register" />
        </form>
    </div>
{% endblock %}

